
:root {
  --font-sans: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

html,
body {
  font-family: var(--font-sans);
  background-color: #F5F7FA;
}

body {
    font-weight: 400;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 3/4;
}

h6 {
    font-size: 12px;
    font-weight: 600;
    display: flex;

    @media (min-width: 1280px) {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.grid{
    display: grid;
    grid-column-end: span 12;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container{
    padding: 0 1rem;
}

.product-tile__add{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #333;
    }
}

.default-layout .main-content .home-page,
.default-layout .container:has(.home-page)  {
    padding: 0;
}
